<div class="carousel-container">
  <div class="carousel-wrapper"
       (touchstart)="onTouchStart($event)"
       (touchend)="onTouchEnd($event)">

    <!-- Cards -->
    @for (item of items(); track item.image.name; let i = $index) {
      <div
        class="card"
        [ngClass]="cardStates().get(i) || 'hidden'"
        [class.new]="item.type === 'new'"
        [class.updated]="item.type !== 'new'"
        (click)="onCardClick(i)"
      >
        <div class="card-content">
          <div class="card-header">
            <span>{{ item.type | titlecase }}</span>
            <span>{{ (item.type === "new" ? item.image.date_registered : item.image.last_updated) | date }}</span>
          </div>
          <p>
            {{ item.image.name }} {{ item.version | async }}
          </p>
        </div>
      </div>
    }

    <!-- Navigation controls -->
    <button class="nav-button prev" (click)="prev()">
      <svg-icon src="assets/icons/fluent-icons/ic_fluent_arrow_left_24_filled.svg" />
    </button>
    <button class="nav-button next" (click)="next()">
      <svg-icon src="assets/icons/fluent-icons/ic_fluent_arrow_left_24_filled.svg" />
    </button>

  </div>

  <!-- Indicators -->
  <div class="indicators">
    @for (item of items(); track item.image.name; let i = $index) {
      <button class="indicator"
              [class.active]="i === activeIndex()"
              (click)="goTo(i)"></button>
    }
  </div>
</div>
