<div class="category-container" [class.collapsed]="isCollapsed">
  @for (container of matchedContainers(); track container) {
    <a class="container-item" [routerLink]="['/container', container]">
      <div class="header">
        <span>{{ container }}</span>
        <app-container-icon [name]="container" [icon]="(getContainerMetadataByName(container) | async)?.icon" [color]="isDarkTheme()? 'white' : '#0082c4'"/>
      </div>
      @if (!isCollapsed) {
        <p class="description">
          {{ (getContainerMetadataByName(container) | async)?.description }}
        </p>
      }
    </a>
  }
</div>
