:host {
  --card-border-color: rgb(255 255 255);
  --img-backdrop-tint: rgba(255,255,255, 0.85);
  --hr-gradient: linear-gradient(to right, #00000055, #FFFFFF44);
  --img-border-color: #FFFFFFAA;
  --contact-bg: rgba(255,255,255, 0.6);
}

@media (prefers-color-scheme: dark) {
  :host {
    --card-border-color: rgb(58, 58, 60);
    --img-backdrop-tint: rgba(43, 43, 43, 0.7);
    --hr-gradient: linear-gradient(to right, #FFFFFF55, #00000033);
    --img-border-color: rgba(255, 255, 255, 0.1);
    --contact-bg: rgba(10, 10, 10, 0.5);
  }
}

.outer-container {
    border-radius: 16px;
    background: linear-gradient(to right, var(--img-backdrop-tint) 0 100%), var(--url) center no-repeat;
    background-size: cover;
    position: relative;

    box-shadow: rgba(0,0,0,.1) 0 10px 32px 0;
    border: 2px solid var(--card-border-color);
}

.inner-container {
    display: flex;
    flex-direction: row;
    gap: 26px;
    align-items: center;

    padding: 20px 20px;
    backdrop-filter: blur(100px);
    border-radius: 14px;
}

.name {
    display: flex;
    gap: 8px;
    align-items: center;

    span:first-child {
        margin-right: 8px;
        font-size: 1.2rem;
        font-weight: 600;
    }

    span:not(:first-child) {
        font-size: 0.75rem;
        padding: 6px 10px;
        border-radius: 16px;
        color: white;
        background-color: var(--bg-color);
        box-shadow: rgb(from var(--bg-color) r g b / 0.3) 0 2px 8px -1px;
    }
}

.i3S {
    --bg-color: #0082c4;
}

.IBMC {
    --bg-color: #41c4dc;
}

.SING {
    --bg-color: #000000;
}

.CINBIO {
    --bg-color: #00379f;
}

.IISGS {
    --bg-color: #0084ce;
}

p {
    margin: 0;
}

hr {
    border: none;
    height: 2px;
    background: var(--hr-gradient);
}

div > img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    border: 4px solid var(--img-border-color);
}

.contact {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    a {
        background-color: var(--contact-bg);
        box-shadow: rgba(0,0,0,.04) 0 5px 16px 0;
        border-radius: 8px;
        height: 36px;

        span {
            white-space: nowrap;
        }
    }
}

a {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 8px;
    font-size: 0.8rem;

    img {
        width: 1em;
        height: 1em;
    }
}
