:host {
  --outer-border-radius-card: 16px;
  --outer-border-width-card: 2px;

  --card-border-color: rgb(255 255 255);
  --img-backdrop-tint: rgba(255,255,255, 0.85);
  --hr-gradient: linear-gradient(to right, #00000055, #FFFFFF44);
  --img-border-color: #FFFFFFAA;
  --contact-info-item-bg: rgba(255,255,255, 0.6);
}

@media (prefers-color-scheme: dark) {
  :host {
    --card-border-color: rgb(58, 58, 60);
    --img-backdrop-tint: rgba(43, 43, 43, 0.7);
    --hr-gradient: linear-gradient(to right, #FFFFFF55, #00000033);
    --img-border-color: rgba(255, 255, 255, 0.1);
    --contact-info-item-bg: rgba(10, 10, 10, 0.5);
  }
}

.outer-container {
    border-radius: var(--outer-border-radius-card);
    background: linear-gradient(to right, var(--img-backdrop-tint) 0 100%), var(--url) center no-repeat;
    background-size: cover;
    position: relative;

    box-shadow: rgba(0,0,0,.1) 0 10px 32px 0;
    border: var(--outer-border-width-card) solid var(--card-border-color);
}

.inner-container {
    display: flex;
    flex-direction: row;
    gap: 26px;
    align-items: center;

    padding: 14px 20px;
    backdrop-filter: blur(100px);
    border-radius: calc(var(--outer-border-radius-card) - var(--outer-border-width-card));
}

.name {
  display: flex;
  align-items: center;
  gap: 8px;

  > p {
    margin-right: 8px;
    font-weight: 600;
    font-size: 1.2rem;
  }
}

.organization {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 8px;

  p {
    z-index: 1;
    box-shadow: rgb(from var(--bg-color) r g b / 0.3) 0 2px 8px -1px;
    border-radius: 16px;
    background-color: var(--bg-color);
    padding: 6px 10px;
    color: white;
    font-size: 0.75rem;
  }
}

.tooltip {
  display: block;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: var(--bg-color);
  padding: 6px 10px;
  pointer-events: none;
  color: white;
  font-size: 0.75rem;
  white-space: nowrap;
}

.tooltip::before {
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 2px;
  background-color: var(--bg-color);
  width: 10px;
  height: 10px;
  content: "";
}

.organization:hover .tooltip {
  top: -35px;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

p {
    margin: 0;
}

hr {
    border: none;
    height: 2px;
    background: var(--hr-gradient);
}

div > img {
    display: none;
    border-radius: 100%;
    width: 68px;
    height: 68px;
    border: 4px solid var(--img-border-color);
}

@media (min-width: 576px) { 
    div > img {
        display: block;
    }
}

img ~ div {
  flex-grow: 1;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    --icon-size: 18px;

    a {
      background-color: var(--contact-info-item-bg);
      box-shadow: rgba(0,0,0,.04) 0 5px 16px 0;
      border-radius: 100%;
      padding: 8px;
      line-height: 0;

      .material-symbols-rounded {
        font-size: var(--icon-size);
      }

      img, svg {
        width: var(--icon-size);
        height: var(--icon-size);
      }

      /*span {
        max-width: 0;
        opacity: 0;
        white-space: nowrap;
        transition: max-width 0.2s ease-in-out, opacity 0.2s ease-in-out;
        pointer-events: none;
      }

      &:hover {
        span {
          max-width: 200px;
          opacity: 1;
          transition: max-width 0.5s ease-in-out 0.2s, opacity 0.5s ease-in-out 0.2s;
          pointer-events: auto;
        }
      }*/
    }
}

a:has(> span:nth-child(2)) {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 12px;
    font-size: 0.8rem;
    border-radius: 24px;
}
