section {
  margin-inline: auto;
  padding: 35px var(--horizontal-main-margin);
  max-inline-size: 2048px;
}

.tutorials {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  justify-content: center;

  a {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 190px min-content min-content;
    row-gap: 8px;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 32px 0;
    border-radius: 14px;
    --bg-color: white;
    background-color: var(--bg-color);
    padding: 16px;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;

    &:hover {
      transform: translateY(-4px);
    }

    @media (prefers-color-scheme: dark) {
      --bg-color: rgba(var(--color-surface-container), 0.7);

      &:hover {
        --bg-color: rgba(var(--color-surface-container-high), 0.7);
      }
    }

    * {
      position: relative;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
    
    p {
      margin: 0;
    }
  }
}
