<app-search />
<section>
  <h2>About this project</h2>
  <p>
    This website contains information about the Docker images maintained by the
    Phenotypic Evolution Group (pegi3s) at the Instituto de Biologia Molecular e
    Celular (IBMC) / Instituto de Investigação e Inovação em Saúde da Universidade
    do Porto (i3S). All images are available through our Docker Hub repository,
    and the respective Docker files at our GitHub repository.
  </p>
  <p>
    In addition, this repository also contains tutorials to serve as guidance on
    the usage of existing Docker images (e.g. Trinity for RNA-Seq).
  </p>
</section>
<section>
  <h2>Why Docker Images?</h2>
  <app-reason-list />
</section>
<section>
  <h2>Authors</h2>
  <app-contributor-list />
</section>
<section>
  <h2>Co-funded by</h2>
  <div class="supporters">
    <img src="../../assets/oie_4CZg59BNjicX-min-1-1024x274.png"/>
    <img src="../../assets/support-logos-900-500-lis20-hover.webp"/>
    <img src="../../assets/norte2020.png"/>
    <img src="../../assets/Logo_Portugal_2020_Cores.png"/>
    <img src="../../assets/Logo Uniao Europeia_Fundos Europeus Estruturais e de Investimento-01.png"/>
    <img src="../../assets/2d5a1d2f7dd9c7c3cdffa5639d8e88a9c30f2c6312c5b5fafc59a2f1f6089737.png"/>
  </div>
</section>

