<div class="outer">
  <header [class.transitions-enabled]="enableTransitions" [class.scrolled]="scrolled">
    <div class="header-logo">
      <a routerLink="/">
        <img src="assets/pegi3s.png" alt="logo">
      </a>
      <span class="title">Bioinformatics Docker Images Project</span>
    </div>
    <nav class="nav-links-top">
      <a routerLink="/about">About</a>
      <a routerLink="/containers">Containers</a>
      <a routerLink="/tutorials">Tutorials</a>
    </nav>
    <div class="search-button">Search</div>
  </header>
  <nav class="nav-links-bottom" [class.overflowing]="isOverflowing">
    <a routerLink="/about">About</a>
    <a routerLink="/containers">Containers</a>
    <a routerLink="/tutorials">Tutorials</a>
    <a routerLink="/tutorials">Tutorials</a>
  </nav>
</div>
