:host {
  --vertical-main-margin: 20px;
  --blur-color: rgba(255, 255, 255, 0.2);
  --header-bg-color: rgba(255, 255, 255, 0.6);
  --header-border-color: rgba(var(--slate-900), 0.15);
  --header-shadow: 0 2px 16px -6px rgb(0 0 0 / 20%);
}

:host-context(.dark) {
  --blur-color: rgba(0, 0, 0, 0.4);
  --header-bg-color: rgba(var(--slate-900), 0.75);
  --header-border-color: rgba(var(--slate-300), 0.15);
  --header-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}


:host {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
}

:host::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, var(--blur-color), rgba(0, 0, 0, 0));
  width: 100%;
  height: 100%;
  pointer-events: none;
  content: "";
}

.outer {
  animation: gradient 30s linear infinite;
  background-size: 200% 200%;
  background-color: #0082c4;

  background-color: rgba(127, 127, 127, .1);
  border: 1px solid rgba(127, 127, 127, .1);

  background-color: var(--header-bg-color);
  border: 1px solid var(--header-border-color);
  box-shadow: var(--header-shadow);
  backdrop-filter: blur(8px);
}

.outer {
  --height: 75px;
  display: flex;
  flex-direction: column;
  top: var(--vertical-main-margin);
  margin: var(--vertical-main-margin) var(--horizontal-main-margin);
  border-radius: 24px;
  height: var(--height);

  > *:not(header) {
    display: none;
  }
  transition: all cubic-bezier(0, 0, 0.15, 1.2) 400ms;
}

.outer:has(.menu-opened) {
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px var(--vertical-main-margin);
  width: -webkit-fill-available;
  width: -moz-available;
  max-height: var(--height);
}

header.transitions-enabled {
  transition: all cubic-bezier(0.57, -0.2, 0, 1.13) 400ms;
}

header.scrolled {
  flex-grow: 1;
  align-self: center;
}

header > div {
  display: flex;
  flex: 1;
  align-items: center;
}

header > div:first-child {
  justify-content: flex-start;
}

header > .search-button {
  justify-content: center;
}

header > div:last-child {
  justify-content: flex-end;
}

.header-logo > span {
  margin-left: 6px;
  font-weight: bold;
  display: none;
}

.header-logo a {
  line-height: 0;
}

.header-logo img {
  height: 45px;
}

:host-context(.dark) .header-logo img {
  filter: brightness(0%) contrast(200%) invert(100%);
}

.title {
  max-width: 180px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  a {
    transition: background-color 200ms;
    border-radius: 24px;
    padding: 8px 16px;
  }

  a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.search-button > p {
  border-radius: 12px;
  padding: 8px 16px;
  max-width: 200px;
  background-color: rgba(var(--slate-400), 15%);
  box-shadow: inset 0 1px 0 0 #ffffff0d;
}

.search-button > p:hover {
  background-color: rgba(var(--slate-400), 0.2);
}

.search-button:not(.visible) {
  visibility: hidden;
}

.nav-links-top {
  display: none;
}

.nav-links-bottom {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-inline: 25px;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;

  a {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 12px 24px;
  }
}

.menu-opened {
  height: 135px;
}

.menu-opened .nav-links-menu {
  display: flex !important;
  margin-inline: 25px;
  margin-bottom: 30px;

  a {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 12px 24px;
  }
}

@media (width > 1024px) {
  .nav-links-top {
    display: flex;
  }

  .header-logo > span {
    display: block;
  }

  .menu-button {
    display: none !important;
  }

  header > .search-button {
    justify-content: flex-end;
  }

  .menu-opened .nav-links-menu {
    display: none !important;
  }
}
