:host {
  --blur-color: rgba(255, 255, 255, 0.4);
  --vertical-main-margin: 20px;
}

@media (prefers-color-scheme: dark) {
  :host {
    --blur-color: rgba(0, 0, 0, 0.4);
  }
}

:host {
  position: sticky;
  top: 0;
  z-index: 20;
}

:host::before {
  /*TODO: Limit blur to .scrolled*/
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - var(--vertical-main-margin));
  z-index: -1;
  backdrop-filter: blur(8px);
  background: linear-gradient(to bottom, var(--blur-color), rgba(0,0,0,0));
  mask: linear-gradient(to top, transparent, black 25%);
  pointer-events: none;
}

.outer {
  /*
  radial-gradient(at 21% 13%, hsla(240,87%,67%,1) 0px, transparent 50%),
  radial-gradient(at 97% 43%, hsla(250,88%,74%,1) 0px, transparent 50%),
  radial-gradient(at 85% 67%, hsla(260,84%,69%,1) 0px, transparent 50%),
  radial-gradient(at 34% 27%, hsla(220,81%,78%,1) 0px, transparent 50%),
  radial-gradient(at 28% 76%, hsla(230,61%,77%,1) 0px, transparent 50%),
  radial-gradient(at 93% 19%, hsla(240,93%,76%,1) 0px, transparent 50%),
  radial-gradient(at 71% 94%, hsla(250,99%,60%,1) 0px, transparent 50%);
  */
  animation: gradient 30s linear infinite;
  background-image:
    radial-gradient(at 21% 13%, hsla(240, 87%, 50%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 43%, hsla(250, 88%, 55%, 1) 0px, transparent 50%),
    radial-gradient(at 85% 67%, hsla(260, 84%, 45%, 1) 0px, transparent 50%),
    radial-gradient(at 34% 27%, hsla(220, 81%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 28% 76%, hsla(230, 61%, 50%, 1) 0px, transparent 50%),
    radial-gradient(at 93% 19%, hsla(240, 93%, 55%, 1) 0px, transparent 50%),
    radial-gradient(at 71% 94%, hsla(250, 99%, 40%, 1) 0px, transparent 50%);
  background-size: 200% 200%;
  background-color: #0082c4;
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0% 20%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 70%;
  }
}

.outer {
  display: flex;
  flex-direction: column;
  transition: all cubic-bezier(0.57, -0.2, 0, 1.13) 400ms;
  height: 100dvh;
  color: white;
}

.outer:has(.scrolled) {
  top: var(--vertical-main-margin);
  margin: var(--vertical-main-margin) var(--horizontal-main-margin);
  border-radius: 24px;
  height: 75px;

  > *:not(header) {
    display: none;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all cubic-bezier(0.57, -0.2, 0, 1.13) 400ms;
  padding: 10px var(--vertical-main-margin);
  width: -webkit-fill-available;
}

header.scrolled {
  flex-grow: 1;
  align-self: center;
}

header > div {
  display: flex;
  align-items: center;
}

.header-logo > span {
  margin-left: 6px;
  font-weight: bold;
}

.title {
  max-width: 180px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:10px;

  a {
    padding: 8px 16px;
    border-radius: 24px;
    transition: background-color 200ms;
  }

  a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.social-links a {
  margin-left: 12px;
  line-height: 0;
}

.social {
  width: 20px;
  height: 20px;
  color: inherit;
}


app-search-guided {
  flex-grow: 1;
}

.nav-links-top {
  display: none;
}

.nav-links-bottom {
  margin-inline: 25px;
  margin-bottom: 30px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  overflow-x: auto;
  scrollbar-width: none;

  a {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 12px 24px;
  }
}
.nav-links-bottom.overflowing {
  justify-content: flex-start;
}

@media (min-width: 576px) {
  .nav-links-top {
      display: flex;
  }
  .nav-links-bottom {
      display: none;
  }
}
