<section class="search-container" #searchContainer [class.active]="categorySelectionStack.length !== 0 || this.searchTerm.length !== 0">
  @if (this.searchTerm.length === 0) {
    <div class="search-by-category" @fadeIn>
      <p>
        @if (categorySelectionStack.length > 0) {
          <span class="material-symbols-rounded" (click)="goUpLevel()">arrow_back</span>
        }
        Ready to explore? Choose a category!
      </p>
      @if (categorySelectionStack.length > 0) {
        <div class="selected-container">
          @for (category of categorySelectionStack; track $index) {
            <div>
              {{ category.name?.replaceAll("_", " ") }}
            </div>
          }
        </div>
      }
      @if (getSelectedCategory() === undefined || getSelectedCategory()?.hasChildren()) {
        <div class="container">
          @for (category of categories; track $index) {
            <div (click)="loadChildren(category)">
              {{ category.name?.replaceAll("_", " ") }}
            </div>
          }
        </div>
      }
    </div>
  }

  @if (this.categorySelectionStack.length === 0) {
    <div class="search-by-text" @fadeIn> 
      <p>
        Unleash the power of our advanced search!
      </p>
      <input placeholder="Search" type="text" maxlength="200" [(ngModel)]="searchTerm" @fadeIn/>
    </div>
  }
</section>
<app-search-list-2 [name]="searchTerm" [category]="this.categorySelectionStack.length === 0 ? undefined : this.categorySelectionStack[this.categorySelectionStack.length - 1]"></app-search-list-2>
