<section class="search-container" #searchContainer [class.active]="categorySelectionStack().length !== 0 || this.searchTerm().length !== 0" [class.collapsed]="showAll()">
  @if (this.searchTerm().length === 0) {
    <div class="search-by-category" @fadeIn>
      <p>
        @if (categorySelectionStack().length > 0) {
          <span class="material-symbols-rounded" (click)="clearSearch()">arrow_back</span>
        }
        Ready to explore? Choose a category!
      </p>
      @if (categorySelectionStack().length > 0) {
        <div class="selected-container">
          @for (category of categorySelectionStack(); track $index; let last = $last) {
            @if (last) {
              <div>
                {{ category.name?.replaceAll("_", " ") }}
                <button class="material-symbols-rounded" (click)="goUpLevel()">close_small</button>
              </div>
            } @else {
              <div (click)="goToLevel($index)">
                {{ category.name?.replaceAll("_", " ") }}
              </div>
            }
          }
        </div>
      }
      @if (getSelectedCategory() === undefined || getSelectedCategory()?.hasChildren()) {
        <div class="container">
          @for (category of categories(); track category.id) {
            <div (click)="loadChildren(category)">
              {{ category.name?.replaceAll("_", " ") }}
            </div>
          }
        </div>
      }
    </div>
  }

  @if (this.categorySelectionStack().length === 0) {
    <div class="search-by-text" @fadeIn> 
      <p>
        Unleash the power of our advanced search!
      </p>
      <div>
        <input placeholder="Search" type="text" maxlength="200" [(ngModel)]="searchTerm" @fadeIn/>
        @if (this.searchTerm().length > 0) {
          <button class="material-symbols-rounded" (click)="clearSearch()">close_small</button>
        }
      </div>
    </div>
  }
</section>
<app-search-list 
  [name]="searchTerm()"
  [rootCategories]="showAll() ? rootCategories() : []"
  [selectedCategory]="getSelectedCategory()" />
