/*TODO: Find a better way*/
:host {
  flex-grow: 1;
  max-width: 100vw;
  overflow-x: hidden;
}

section > div {
  margin-inline: auto;
  padding: 65px var(--horizontal-main-margin) 35px;
  max-inline-size: 2048px;
}

.intro {
  position: relative;

  background-image:
    radial-gradient(18% 28% at 24% 50%, #b3d1f933 7%, #ffffff00 100%),
    radial-gradient(18% 28% at 18% 71%, #a2c6f422 6%, #ffffff00 100%),
    radial-gradient(70% 53% at 36% 76%, #91b9ef22 0%, #ffffff00 100%),
    radial-gradient(42% 53% at 15% 94%, #a2c6f422 7%, #ffffff00 100%),
    radial-gradient(42% 53% at 34% 72%, #a2c6f422 7%, #ffffff00 100%),
    radial-gradient(18% 28% at 35% 87%, #a2c6f422 7%, #ffffff00 100%),
    radial-gradient(31% 43% at 7% 98%, #b3d1f933 24%, #ffffff00 100%),
    radial-gradient(35% 56% at 91% 74%, #91b9ef33 9%, #ffffff00 100%),
    radial-gradient(74% 86% at 67% 38%, #80adf533 24%, #ffffff00 100%);
  background-color: #f5f5ff;

  padding-block: var(--header-height);
  @media (height < 1024px) {
    padding-bottom: 0;
  }
  height: 100svh;
  min-height: 720px;
  overflow: hidden; /* Due to SVG animation */
}

:host-context(.dark) .intro {
  background-image:
      radial-gradient(18% 28% at 24% 50%, #3070bf22 7%, #073bff00 100%),
      radial-gradient(18% 28% at 18% 71%, #2a659f11 6%, #073bff00 100%),
      radial-gradient(70% 53% at 36% 76%, #204a8f11 0%, #073bff00 100%),
      radial-gradient(42% 53% at 15% 94%, #2a659f11 7%, #073bff00 100%),
      radial-gradient(42% 53% at 34% 72%, #2a659f11 7%, #073bff00 100%),
      radial-gradient(18% 28% at 35% 87%, #2a659f11 7%, #073bff00 100%),
      radial-gradient(31% 43% at 7% 98%, #2a659f22 24%, #073bff00 100%),
      radial-gradient(35% 56% at 91% 74%, #204a8f22 9%, #073bff00 100%),
      radial-gradient(74% 86% at 67% 38%, #16338022 24%, #073bff00 100%);
    background-color: #01020c;
}

.intro > div {
  display: grid;
  /* With whale */
  /* grid-template-rows: 30% 30% 1fr minmax(150px, 200px); */
  /* Without whale */
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "header"
    "carousel"
    "text";
    /* "whale"; */
  align-content: center;
  align-items: center;
  justify-items: center;
  height: 100%;
  @media (height < 1024px) {
    padding-top: 0;
  }

  > img {
    grid-area: whale;
    width: 150px;
    height: 150px;
  }

  > .foreground {
    z-index: 1;
    backdrop-filter: blur(3px);
    /* filter: drop-shadow(3px 3px 7px rgba(0, 0, 0, 0.125)); */
  }

  > h2 {
    grid-area: header;
    margin: 0;
    font-size: 4.5rem;
    line-height: 1;
    text-align: center;
    animation: 750ms ease 0ms 1 normal both running fadeInMoveDown;
    z-index: 1;
  }

  > div:has(app-carousel) {
    grid-area: carousel;
    width: clamp(100px, 80%, 662px);
  }

  .search-container-landing {
    grid-area: carousel;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .svg1, .svg2, .svg3, .svg4, .svg5, .svg6 {
    position: absolute;
    fill: #91b9ef;
    @media (height < 870px) {
      fill: rgba(145, 186, 239, 0.25);
    }
    animation: float 5s ease-in-out infinite;
    animation-delay: var(--delay);
  }

  .svg1 {
    --scale: 3;
    top: -55px;
    left: -80px;
    --rotate: 94deg;
    --delay: 0s;
  }

  .svg2 {
    --scale: 2.5;
    top: -20px;
    right: -60px;
    --rotate: 264deg;
    --delay: -0.75s;
  }

  .svg3 {
    --scale: 3;
    bottom: -70px;
    left: -30px;
    --rotate: 38deg;
    --delay: -1.5s;
  }

  .svg4 {
    --scale: 4.5;
    bottom: 50px;
    left: -200px;
    --rotate: 351deg;
    --delay: -2.25s;
  }

  .svg5 {
    --scale: 4;
    bottom: -40px;
    left: 260px;
    --rotate: 20deg;
    --delay: -3s;
  }

  .svg6 {
    --scale: 4.5;
    bottom: 100px;
    left: 365px;
    --rotate: 54deg;
    --delay: -3.75s;
  }

  .halo-container {
    --size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: var(--size);
    height: var(--size);
  }

  .halo {
    fill: rgba(158, 198, 250, 0.5);
    animation: spin 40s linear infinite reverse;
    width: var(--size);
    position: absolute;
    transition: width 750ms cubic-bezier(0.68, -0.55, 0.27, 1), fill 750ms cubic-bezier(0.4, 0, 0, 1.3);
    z-index: 2;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  .halo:hover {
    fill: rgba(158, 198, 250, 0.7);
    width: calc(var(--size) + 24px);
  }

  .halo-container.clicked > .halo {
    width: max(150vw, 150vh);
    animation: spin 2s linear infinite reverse;
    fill: rgb(0 123 255);
  }

  .search {
    transition: width 750ms cubic-bezier(0.68, -0.5, 0.27, 1), opacity 500ms cubic-bezier(0.68, -0.5, 0.27, 1);
    width: 84px;
    object-fit: cover;
    position: absolute;
    pointer-events: none;
    opacity: 1;
    z-index: 3;
    animation: grow 750ms cubic-bezier(0.68, 0, 0.27, 1) 0ms 1 normal none, tilt 8s cubic-bezier(.36,.07,.19,.97) infinite normal;
    animation-delay: 0s, 1s;
  }

  .halo-container.clicked > .search {
    width: 0px;
    opacity: 0;
  }

  div:has(> p) {
    z-index: 1;
  }

  p {
    margin: 0;
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-align: center;
    max-width: 1000px;
  }

  @media (width < 768px) {
    /* With whale */
    /* grid-template-rows: 20% 30% 1fr minmax(100px, 150px); */
    /* Without whale */

    > img {
      width: 100px;
      height: 100px;
    }

    > h2 {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }

    > div:has(app-carousel) {
      width: clamp(80px, 70%, 500px);
    }

    p {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}

:host-context(.dark) .intro > div .foreground {
  /* filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.65)); */
}

:host-context(.dark) .intro > div .halo {
  fill: rgba(255, 255, 255, 0.1);
}

:host-context(.dark) .intro > div .halo-container.clicked > .halo {
  fill: rgba(23 29 207);
}

.about-project > div {
  display: grid;
  column-gap: 72px;
  grid-template-areas:
    "header"
    "text"
    "img";
  @media (min-width: 768px) {
    grid-template-areas:
      "header img"
      "text img";
  }

  h2 {
    grid-area: header;
  }

  div {
    grid-area: text;
  }

  img {
    grid-area: img;
    align-self: center;
    justify-self: center;
  }
}

.docker-img {
  border-radius: 12px;
  width: 300px;
}

.authors {
  display: grid;
  grid-template-columns: 1fr;
  @media (min-width: 576px) {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
  column-gap: 16px;
  row-gap: 16px;
}

/* Citing */

.citing > div {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}

.citing img {
  display: none;
}

@media (width > 1280px) {
  .citing > div {
    display: grid;
    grid-template-columns: 375px 1fr;
    column-gap:72px;
    align-items: center;
  }

  .citing img {
    display: block;
  }
}

blockquote {
  position: relative;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-style: italic;
  margin: 36px 10px;
  padding: 20px;
  border-radius: 12px;
  background-color: rgb(var(--slate-100));
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  @media (width < 640px) {
    overflow-wrap: anywhere;
  }
}

:host-context(.dark) blockquote {
  background-color: rgba(var(--slate-800), 0.8);
}

blockquote::before, blockquote::after {
  font-size: 4.5rem;
  position: absolute;
  color: rgba(var(--slate-800), 0.8);
}

:host-context(.dark) blockquote::before, :host-context(.dark) blockquote::after {
  color: rgba(var(--slate-200), 0.8);
}

blockquote::before {
  content: "“";
  top: 6px;
  left: -22px;
}

blockquote::after {
  content: "”";
  bottom: -31px;
  right: 0px;
}

blockquote app-clipboard-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.6rem;
  margin-block: 0 30px;
}

p {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

/* Why Docker Images? */

.why-docker h2 span {
  background: linear-gradient(315deg, #00aaff 0%, #6633ff 60%, #bb33ff 80%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

:host-context(.dark) .why-docker h2 span {
  background: linear-gradient(315deg, #00dbde 0%, #9875ff 60%, #cc66ff 80%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 725;
}

.why-docker h2 + div {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 16px;
  row-gap: 16px;

  @media (width > 576px) {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  @media (width > 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (width > 1536px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Dissemination */

.dissemination .references {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dissemination .lead {
  --bg-color: rgba(var(--picton-blue-100), 0.75);
  font-size: 1rem;
  line-height: 1.75rem;
  margin: 0;
  padding: 20px;
  background-color: var(--bg-color);
  border-left: 6px solid rgba(var(--picton-blue-400), 1);
  border-radius: 16px;
  position: relative;
}

:host-context(.dark) .dissemination .lead {
  --bg-color: rgba(var(--picton-blue-950), 0.5);
}

.dissemination .lead a:not(.badge) {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.dissemination .lead a:not(.badge):hover {
  text-decoration: underline;
}

.badge {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: white;
  text-shadow: 0px 1px 2px rgb(0 0 0 / 80%);
  text-wrap: nowrap;
  
  span {
    padding: 4px 8px;
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

.badge span:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: linear-gradient(to bottom, rgba(var(--slate-700), 1) 0%, rgba(var(--slate-800), 1) 100%);
}

:host-context(.dark) .badge span:first-child {
  background: linear-gradient(to bottom, rgba(var(--slate-600), 1) 0%, rgba(var(--slate-700), 1) 100%);
}

.badge span:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: linear-gradient(to bottom, rgba(var(--picton-blue-500), 1) 0%, rgba(var(--picton-blue-600), 1) 100%);
}

/* Getting Started */

.getting-started h2 + div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  
  @media (width > 768px) {
    grid-template-columns: repeat(auto-fill, minmax(605px, 1fr));
  }
}

.getting-started a {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 14px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}

.getting-started a {
  /* https://codepen.io/jh3y/pen/yLWgjpd */
  --tint: 222;
  --alpha: 4;
  --base: hsl(var(--tint, 214) 50% 40% / calc(var(--alpha, 4) * 1%));
  --shade: hsl(from var(--base) calc(h + 8) 25 calc(l - 5));
  --perfect-shadow: 0 0 0 1px var(--base), 0 1px 1px -0.5px var(--shade),
    0 3px 3px -1.5px var(--shade), 0 6px 6px -3px var(--shade),
    0 12px 12px -6px var(--base), 0 24px 24px -12px var(--base);
  transition: all 0.4s ease;
  box-shadow: var(--perfect-shadow);
}

.getting-started a:first-child {
  background-color: hsl(208, 100%, 87%);
  --tint: 208;
}
  
.getting-started a:nth-child(2) {
  background-color: hsl(239, 100%, 89%);
  --tint: 239;
}

.getting-started a:hover {
  --alpha: 9;
}

:host-context(.dark) .getting-started a:first-child {
  background-color: rgb(var(--picton-blue-800));
}
  
:host-context(.dark) .getting-started a:nth-child(2) {
  background-color: rgb(54, 16, 106);
}

.getting-started p {
  margin: 0;
  @media (width > 640px) {
    max-width: calc(100% - 200px);
  }
}

.getting-started .title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.getting-started img {
  position: absolute;
  align-self: end;
  transform: rotate(-7deg);
  top: 12%;
  right: 2.5%;
  height: 130%;
  max-width: 180px;
  object-fit: scale-down;
  transition: all 0.3s ease;
  @media (width <= 640px) {
    display: none;
  }
}

.getting-started a:hover img {
  top: 8%;
  transform: scale(1.1) rotate(-7deg);
}

/* Get in touch */

.get-in-touch h2 + div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
  
  @media (width > 768px) {
    grid-template-columns: 1fr 2fr;
  }

  p {
    margin: 0;
  }
}

.get-in-touch .socials {
  display: flex;
  gap: 16px;
  flex-direction: column;

  a {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 24px;
    border-radius: 14px;
    background-color: rgb(var(--slate-100));
    line-height: 0;
  }

  svg {
    width: 32px;
    height: 32px;
  }

  div > p:first-child {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  div > p:nth-child(2) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

:host-context(.dark) .get-in-touch .socials a {
  background-color: rgba(var(--slate-800), 0.6);
}

.get-in-touch .mail-form {
  display: flex;
  flex-direction: column;
  gap: 32px;

  > p {
    margin: 0;
  }

  button {
    padding: 0.75rem 1.25rem;
    font-family: inherit;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    text-align: center;
    color: white;
    border-radius: 8px;
    background-color: rgba(var(--picton-blue-600), 0.9);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  button:hover {
    background-color: rgba(var(--picton-blue-700), 0.9); /* hover:bg-primary-800 */
  }
}

:host-context(.dark) .get-in-touch button {
  background-color: rgba(var(--picton-blue-500), 1);

  &:hover {
    background-color: rgba(var(--picton-blue-600), 1);
  }
}

.get-in-touch .mail-form > div {
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
  }
  
  input, textarea {
    display: block;
    padding: 0.75rem;
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(var(--main-font-color));
    background-color: #f9fafb;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
  }

  &.message {
    flex: 1;
  }

  textarea {
    resize: vertical;
    height: calc(100% - 30px);
    min-height: 150px;
  }
}

:host-context(.dark) .get-in-touch .mail-form > div input, 
:host-context(.dark) .get-in-touch .mail-form > div textarea {
  background-color: rgba(var(--slate-700), 0.15);
  border: 1px solid rgba(255,255,255, 0.05);
}

/* Funding */

.funding > div {
  display: grid;
  grid-template-areas:
    "text"
    "img";
  column-gap: 72px;
  row-gap: 40px;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text img";
  }

  > div {
    grid-area: text;
  }

  h2 {
    margin-top: 0;
  }

  a {
    display: contents;
    
    img {
      grid-area: img;
      align-self: center;
      justify-self: center;
      max-height: 100px;
      
      @media (min-width: 768px) {
        justify-self: end;
      }
    }
  }
}

:host-context(.dark) .funding img {
  filter: brightness(0%) contrast(200%) invert(100%);
}

@keyframes fadeInMoveDown {
  0% {
      opacity: 0;
      transform: translateY(-15px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0% {
    transform: scale(var(--scale)) translateY(0px) rotate(var(--rotate));
  }
  50% {
    transform: scale(var(--scale)) translateY(-5px) rotate(calc(var(--rotate) + 5deg));
  }
  100% {
    transform: scale(var(--scale)) translateY(0px) rotate(var(--rotate));
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes tilt {
  0%, 35%, 65%, 100% {
    transform: rotate(0deg);
    transform-origin: 35% 65%;
  }
  40% {
    transform: translate3d(-1px, 0, 0);
    transform: rotate(-2deg);
    transform-origin: 35% 65%;
  }
  45% {
    transform: translate3d(2px, 0, 0);
    transform: rotate(4deg);
    transform-origin: 35% 65%;
  }
  50% {
    transform: translate3d(-4px, 0, 0);
    transform: rotate(-8deg);
    transform-origin: 35% 65%;
  }
  55% {
    transform: translate3d(4px, 0, 0);
    transform: rotate(8deg);
    transform-origin: 35% 65%;
  }
  60% {
    transform: translate3d(-1px, 0, 0);
    transform: rotate(-2deg);
    transform-origin: 35% 65%;
  }
}
