@if (matchedContainers().length !== 0) {
  <app-tabs class="only-icons" [tabs]="[
    { id: 'c', icon: 'view_cozy', active: isCompact()},
    { id: 'd', icon: 'view_agenda', active: !isCompact()}
  ]" (activeTab)="onTabSelectedGridView($event)" />
}
<div class="category-container" [class.compact]="isCompact()">
  @for (container of matchedContainers(); track container) {
    <a class="container-item" [routerLink]="['/container', container]">
      @let containerMetadata = getContainerMetadataByName(container) | async;
      <div class="header">
        <span>{{ container }}</span>
        <app-container-icon [name]="container" [icon]="containerMetadata?.icon" [color]="isDarkTheme()? 'white' : '#0082c4'"/>
      </div>
      @if (!isCompact()) {
        <p class="description">
          {{ containerMetadata?.description }}
        </p>
      }
    </a>
  }
</div>
