section {
  margin-inline: auto;
  padding: calc(35px + var(--header-height)) var(--horizontal-main-margin) 35px;
  max-inline-size: 2048px;
}

h2 {
  margin-block: 0 24px;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h2 + p {
  margin-block: 20px;
}

.tutorials {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  justify-content: center;
  gap: 16px;

  @media (width < 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
  }

  @media (width < 768px) {
    grid-template-columns: 1fr;
  }

  /* Tutorial card */
  a {
    display: grid;
    position: relative;
    grid-template-rows: 190px min-content min-content;
    grid-template-columns: 1fr;
    row-gap: 16px;
    align-items: center;

    @media (width < 1024px) {
      grid-template-rows: 155px min-content min-content;
    }

    @media (width < 768px) {
      grid-template-rows: 140px min-content min-content;
    }

    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 32px 0;
    border-radius: 14px;
    --bg-color: white;
    transition:
      background-color 0.2s ease-in-out,
      transform 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
    background-color: var(--bg-color);
    padding: 16px;

    &:hover {
      transform: translateY(-4px);
      box-shadow: rgba(0, 0, 0, 0.16) 0 10px 32px 0;
    }

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      background-image: var(--image-url);
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }

    .image p {
      mix-blend-mode: overlay;
      margin: 0;
      color: hsl(0 0% 100% / 1);
      font-size: 2.25rem;
      line-height: 2.5rem;
      font-family: "Poetsen One";
      text-align: center;
      text-shadow: 1px 2px 4px #212121;
    }

    /* Title */
    h3 {
      margin: 0;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    /* Description */
    p {
      margin: 0;
    }
  }
}

/* Dark mode */
:host-context(.dark) .tutorials a {
  --bg-color: rgba(var(--color-surface-container), 0.7);

  &:hover {
    --bg-color: rgba(var(--color-surface-container-high), 0.7);
  }
}
