<div class="search-animation" [class.expand]="searchClicked"></div>
<div class="outer" [class.menu-opened]="showMenu">
  <header [class.transitions-enabled]="enableTransitions" [class.scrolled]="scrolled">
    <div class="header-logo">
      <a routerLink="/">
        <img src="assets/dockerfiles-logo-simplified.svg" alt="logo">
        <p class="title">Bioinformatics Docker Images Project</p>
      </a>
    </div>
    <nav class="nav-links-top">
      @for (link of links; track link.path) {
        <a [routerLink]="[link.path]" [queryParams]="link.queryParams" [class.current]="matchPath(link)">{{ link.text }}</a>
      }
    </nav>
    <div class="search-button" [class.hiding]="searchClicked" [class.hidden]="!showSearch" (click)="onSearchClick()">
      <div>
        <img src="assets/magnifying-glass-tilted-left.svg" alt="search" width="18px">
        <span>Search</span>
      </div>
    </div>
    <div class="menu-button">
      <p class="material-symbols-rounded" (click)="toggleMenu()">menu</p>
    </div>
  </header>
  <nav class="nav-links-menu">
    @for (link of links; track link.path) {
      <a [routerLink]="[link.path]" [queryParams]="link.queryParams" [class.current]="matchPath(link)">{{ link.text }}</a>
    }
  </nav>
</div>
