<ul class="tutorials">
  @for (tutorial of tutorials; track tutorial.filename) {
    <li [class.current]="tutorial === selectedTutorial()">
      <a [routerLink]="['../' + tutorial.filename]">{{ tutorial.name }}</a>
    </li>
  }
</ul>
<markdown
  clipboard
  [clipboardButtonComponent]="clipboardButton"
  class="markdown-body"
  [src]="selectedTutorial()?.url"
  (ready)="this.getHeadings()"
/>
<!-- There shouldn't be any risk of XSS as the headers are being obtained from the rendered Markdown that already has been sanitized. -->
<ul class="sections">
  @for (heading of headings; track $index) {
    <li>
      <a [routerLink]="[]" [fragment]="heading.id" [innerHTML]="heading.innerHTML"></a>
    </li>
  }
</ul>
