:host {
  --border-top-color: rgba(var(--main-font-color), 0.1);
  border-top: 1px solid var(--border-top-color);
}

p {
  margin: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: auto;
  padding: 35px var(--horizontal-main-margin);
  max-inline-size: 2048px;
}

footer > div:first-child {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  img {
    height: 50px;
  }
}

.copyright {
  font-size: 0.75rem;
  line-height: 1rem;
}

.social-links a {
  line-height: 0;
}

.social-links a:not(:first-child) {
  margin-left: 12px;
}

.social {
  width: 20px;
  height: 20px;
  color: inherit;
}

footer > div:nth-child(2) {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;

  p {
    margin-bottom: 6px;
  }

  a {
    margin-inline: -11px;
    border-radius: 6px;
    padding: 4px 11px;
    inline-size: fit-content;
    color: var(--main-font-color);
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-decoration: none;
  }

  a:hover {
    background-color: rgba(var(--main-font-color), 0.1);
  }
}
