:host {
  --footer-bg-color: lightgray;

  background-color: var(--footer-bg-color);
  padding-right: var(--horizontal-main-margin);
  padding-left: var(--horizontal-main-margin);
}

@media (prefers-color-scheme: dark) {
  :host {
    --footer-bg-color: dimgray;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
