@if (status === Status.LOADED && container != undefined) {
  @let containerMetadata = getContainerMetadataByName(container.name) | async;
  <div class="info">
    <div class="title">
      <svg-icon src="assets/icons/octicons/container-24.svg" svgClass="thick" />
      <h2>{{ container.name }}</h2>
    </div>
    <p class="description">{{ container.description }}</p>
    <div class="categories">
      @for (category of container.categories; track $index) {
        <span>{{ category.name }}</span>
      }
    </div>
    <div class="status">
      @switch (containerMetadata?.status) {
        @case ('Unusable') {
          <span class="chip not-working">Unusable</span>
        }
        @case ('Not_recommended') {
          <span class="chip bug-found">Usage not recommended</span>
        }
      }
    </div>
    <div class="stats">
      <div class="pulls">
        <svg-icon src="assets/icons/fluent-icons/ic_fluent_arrow_download_24_regular.svg" svgClass="thick" />
        <p>{{ container.pull_count }} pulls</p>
      </div>
      <div class="stars">
        <svg-icon src="assets/icons/fluent-icons/ic_fluent_star_24_regular.svg" svgClass="thick" />
        <p>{{ container.star_count }} stars</p>
      </div>
      <div class="last-updated">
        <svg-icon src="assets/icons/fluent-icons/ic_fluent_history_24_regular.svg" svgClass="thick" />
        <p>Last updated {{ container.last_updated | date }}</p>
      </div>
    </div>
    <div class="features">
      <div>
        <svg-icon src="assets/icons/fluent-icons/ic_fluent_task_list_square_24_regular_ltr.svg" />
        <p>Features</p>
      </div>
      <div>
        @if (containerMetadata?.gui) {
          <span class="chip compatible">
            GUI
            <svg-icon src="assets/icons/fluent-icons/ic_fluent_checkmark_circle_12_filled.svg" />
          </span>
        }
        @for (programs of [{ type: 'Podman', status: containerMetadata?.podman }, { type: 'Singularity', status: containerMetadata?.singularity }]; track programs.type) {
          @if (programs.status === 'tested') {
            <span class="chip compatible">
              {{ programs.type }}
              <svg-icon src="assets/icons/fluent-icons/ic_fluent_checkmark_circle_12_filled.svg" />
            </span>
          }
        }
      </div>
    </div>
    @if (showReadme) {
      <div class="install"
           [class.unusable]="containerMetadata?.status === 'Unusable'"
           [class.not-recommended]="containerMetadata?.status === 'Not_recommended'">
        <svg-icon src="assets/icons/fluent-icons/ic_fluent_window_console_20_filled.svg" />
        <p>Install from the command line</p>
        <code>
          {{ buildDockerPullCommand(container, containerMetadata?.recommended) }}
          <app-clipboard-button [text]="buildDockerPullCommand(container, containerMetadata?.recommended)" />
        </code>
      </div>
    }
    <div class="links">
      <a href="https://hub.docker.com/r/{{ container.namespace }}/{{ container.name }}" target="_blank">
        <svg-icon src="assets/icons/logos/docker-mark-blue.svg" />
        DockerHub
        <svg-icon src="assets/icons/fluent-icons/ic_fluent_arrow_up_right_16_regular.svg" svgClass="thick" />
      </a>
      <a [href]="containerMetadata?.manual_url" target="_blank">
        <svg-icon src="assets/icons/fluent-icons/ic_fluent_book_20_filled.svg" />
        Manual
        <svg-icon src="assets/icons/fluent-icons/ic_fluent_arrow_up_right_16_regular.svg" svgClass="thick" />
      </a>
    </div>
  </div>
  <div class="details-container">
    <app-tabs (activeTab)="onTabSelectedGettingStarted($event)" [tabs]="[
      { id: 'readme', label: 'readme', active: true },
      { id: 'tags', label: 'tags' }]" />
    @if (showReadme) {
      <markdown
        clipboard
        [clipboardButtonComponent]="clipboardButton"
        class="markdown-body"
        [data]="container.full_description" />
    } @else if (containerTags != undefined) {
      <div class="tags">
        @for (tag of containerTags; track $index) {
          @let versionStatus = containerMetadata ? getVersionStatus(tag, containerMetadata) : undefined;
          <div class="tag"
               [class.recommended]="versionStatus === VersionStatus.RECOMMENDED"
               [class.bug-found]="versionStatus === VersionStatus.BUG_FOUND || versionStatus === VersionStatus.NOT_RECOMMENDED"
               [class.not-working]="versionStatus === VersionStatus.NOT_WORKING || versionStatus === VersionStatus.UNUSABLE">
            <div class="version">
              <h3>{{ tag.name }}</h3>
              @switch (versionStatus) {
                @case (VersionStatus.RECOMMENDED) {
                  <p class="chip recommended">Recommended</p>
                }
                @case (VersionStatus.BUG_FOUND) {
                  <p class="chip bug-found">Bug found</p>
                }
                @case (VersionStatus.NOT_WORKING) {
                  <p class="chip not-working">Not working</p>
                }
                @case (VersionStatus.NO_LONGER_TESTED) {
                  <p class="chip no-longer-tested">No longer tested</p>
                }
              }
            </div>
            <p class="last-pushed">Last pushed {{ tag.tag_last_pushed | date }}</p>
            <code class="command">
              {{ buildDockerPullCommand(container, tag.name) }}
              <app-clipboard-button [text]="buildDockerPullCommand(container, tag.name)" />
            </code>
            <div>
              <table>
                <thead>
                  <tr>
                    <th>Digest</th>
                    <th>OS</th>
                    <th>Architecture</th>
                    <th>Size</th>
                  </tr>
                </thead>
                <tbody>
                  @for (image of tag.images; track $index) {
                    <tr>
                      <td>{{ image.digest | slice: 7 : 19 }}</td>
                      <td>{{ image.os }}</td>
                      <td>{{ image.architecture }}</td>
                      <td>{{ image.size | bytesToSize }}</td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        }
      </div>
    }
  </div>
} @else if (status === Status.LOADING) {
  <app-loading />
} @else if (status === Status.ERROR_NOT_FOUND) {
  <h2>Container not found</h2>
}
