/*TODO: Find a better way*/
:host {
  flex-grow: 1;
}

:host {
  margin-inline: auto;
  padding: 150px var(--horizontal-main-margin) 35px;
  max-inline-size: 2048px;
}

* {
  margin: 0;
}

/* Icons */
.material-symbols-rounded {
  font-variation-settings:
    "FILL" 0,
    "wght" 300,
    "GRAD" 0,
    "opsz" 24;
}

svg {
  fill: rgb(var(--main-font-color));
}

/* Page */
:host {
  display: grid;
  grid-template-columns: minmax(auto, 400px) minmax(auto, 1000px);
  column-gap: 32px;

  @media (width < 1280px) {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    row-gap: 32px;
    /* width: 100%; */
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  display: flex;
  align-items: center;
  gap: 16px;
  height: max-content;

  h2 {
    margin: 0;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.description {
  word-break: break-word;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  span {
    border-radius: 1rem;
    background-color: rgba(var(--main-font-color), 0.07);
    padding: 6px 10px;
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

.stats {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;

  @media (width < 1280px) {
    flex-direction: row;
    gap: 16px;
  }

  > div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.install {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    "icon text"
    "code code";
  column-gap: 8px;
  row-gap: 16px;
  align-items: center;
  border: 1px solid rgba(var(--main-font-color), 0.2);
  border-radius: 6px;
  padding: 16px;

  span {
    grid-area: icon;
  }

  p {
    grid-area: text;
  }

  code {
    grid-area: code;
  }
}

.details-container {
  min-width: 0;
}

code {
  position: relative;
  border-radius: 6px;
  background-color: rgba(var(--main-font-color), 0.07);
  padding: 12px 16px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: "JetBrains Mono", monospace;
}

app-clipboard-button {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

.tag {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "name code"
    "last-update code"
    "images images";
  grid-area: readme;
  margin-bottom: 16px;
  border: 1px solid rgba(var(--main-font-color), 0.2);
  border-radius: 6px;
  background-color: rgb(var(--color-surface-container-lowest));
  padding: 16px;

  @media (width < 1024px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "name"
      "last-update"
      "code"
      "images";
  }
}

.tag h3 {
  grid-area: name;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}

.tag p {
  grid-area: last-update;
  margin-bottom: 16px;
}

.tag .install {
  display: flex;
  grid-area: code;
  align-items: center;
  margin-bottom: 16px;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  background-color: #f6f8fa;
  padding: 16px;
}

:host-context(.dark) .tag .install {
  border: 1px solid #30363d;
  background-color: #0d1117;
}

div:has(> table) {
  grid-area: images;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  padding: 8px;
  text-align: left;
}

table th:last-child,
table td:last-child {
  text-align: right;
}

table th {
  font-weight: 600;
}

.info .links {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.info .links a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.25s;
  border-radius: 24px;
  padding: 6px 10px;
  width: max-content;
  color: rgb(var(--main-font-color));
  text-decoration: none;
}

.info .links a:hover {
  background-color: rgba(var(--main-font-color), 0.1);
}

.info .links a img {
  height: 1rem;
}

.info .links a span {
  font-size: 1rem;
  line-height: 1.5rem;
}
