@if (status === Status.LOADED && container != undefined) {
  @let containerMetadata = getContainerMetadataByName(container.name)();
  <div class="info">
    <div class="title">
      <svg-icon src="assets/icons/octicons/container-24.svg" svgClass="thick" />
      <h2>{{ container.name }}</h2>
    </div>
    <p class="description" [innerHTML]=convertPlainTextToLink(container.description)></p>
    <div class="ontology-hierarchy">
      @for (hierarchy of ontologyCategories(); track $index) {
        <div>
          @for (category of hierarchy; track $index) {
            <a [routerLink]="['/search']" [queryParams]="{c: getIdHierarchy(category).join()}">
              {{ category.name }}
            </a>
            @if (!$last) {
              <span> > </span>
            }
          }
        </div>
      }
    </div>
    <div class="status">
      @switch (containerMetadata?.status) {
        @case ('Unusable') {
          <span class="chip not-working">Unusable</span>
        }
        @case ('Not_recommended') {
          <span class="chip bug-found">Usage not recommended</span>
        }
      }
    </div>
    <div class="stats">
      <div class="pulls">
        <svg-icon src="assets/icons/fluent-icons/ic_fluent_arrow_download_24_regular.svg" svgClass="thick" />
        <p>{{ container.pull_count }} pulls</p>
      </div>
      <div class="stars">
        <svg-icon src="assets/icons/fluent-icons/ic_fluent_star_24_regular.svg" svgClass="thick" />
        <p>{{ container.star_count }} stars</p>
      </div>
      <div class="last-updated">
        <svg-icon src="assets/icons/fluent-icons/ic_fluent_history_24_regular.svg" svgClass="thick" />
        <p>Last updated {{ container.last_updated | date }}</p>
      </div>
    </div>
    <div class="features">
      <div>
        <svg-icon src="assets/icons/fluent-icons/ic_fluent_task_list_square_24_regular_ltr.svg" />
        <p>Features</p>
      </div>
      <div>
        @if (containerMetadata?.gui) {
          <span class="chip compatible">
            GUI
            <svg-icon src="assets/icons/fluent-icons/ic_fluent_checkmark_circle_12_filled.svg" />
          </span>
        }
        @for (programs of [{ type: 'Podman', status: containerMetadata?.podman }, { type: 'Singularity', status: containerMetadata?.singularity }]; track programs.type) {
          @if (programs.status === 'tested') {
            <span class="chip compatible">
              {{ programs.type }}
              <svg-icon src="assets/icons/fluent-icons/ic_fluent_checkmark_circle_12_filled.svg" />
            </span>
          }
        }
      </div>
    </div>
    @if (selectedTab() !== 'tags') {
      <div class="install"
           [class.unusable]="containerMetadata?.status === 'Unusable'"
           [class.not-recommended]="containerMetadata?.status === 'Not_recommended'">
        <svg-icon src="assets/icons/fluent-icons/ic_fluent_window_console_20_filled.svg" />
        <p>Install from the command line</p>
        <code>
          {{ buildDockerPullCommand(container, getLatestRecommendedTag(containerMetadata)) }}
          <app-clipboard-button [text]="buildDockerPullCommand(container, getLatestRecommendedTag(containerMetadata))" />
        </code>
      </div>
    }
    <div class="links">
      <a href="https://hub.docker.com/r/{{ container.namespace }}/{{ container.name }}" target="_blank">
        <svg-icon src="assets/icons/logos/docker-mark-blue.svg" />
        DockerHub
        <svg-icon src="assets/icons/fluent-icons/ic_fluent_arrow_up_right_16_regular.svg" svgClass="thick" />
      </a>
      <a [href]="containerMetadata?.manual_url" target="_blank">
        <svg-icon src="assets/icons/fluent-icons/ic_fluent_book_20_filled.svg" />
        Manual
        <svg-icon src="assets/icons/fluent-icons/ic_fluent_arrow_up_right_16_regular.svg" svgClass="thick" />
      </a>
    </div>
  </div>
  <div class="details-container">
    <app-tabs (activeTab)="onTabSelectedGettingStarted($event)" [tabs]="[
        { id: TabName.README, label: 'README', active: selectedTab() === TabName.README },
        { id: TabName.TAGS, label: TabName.TAGS, active: selectedTab() === TabName.TAGS },
        { id: TabName.TESTING, label: 'Testing', active: selectedTab() === TabName.TESTING }
      ]" />
    @if (selectedTab() === 'readme') {
      <markdown
        clipboard
        [clipboardButtonComponent]="clipboardButton"
        class="markdown-body"
        [data]="removeReadmeOwnershipHeader(container.full_description)" />
    } @else if (selectedTab() === 'tags' && containerTags() != undefined) {
      <ng-container *ngTemplateOutlet="tags; context: { containerTags: containerTags(), containerMetadata: containerMetadata }"></ng-container>
    } @else if (selectedTab() === 'testing') {
      <ng-container *ngTemplateOutlet="testing; context: { containerMetadata: containerMetadata }"></ng-container>
    }
  </div>
} @else if (status === Status.LOADING) {
  <app-loading />
} @else if (status === Status.ERROR_NOT_FOUND) {
  <h2>Container not found</h2>
}

<ng-template #tags let-containerMetadata="containerMetadata">
  <div class="tags">
    @for (tag of containerTags(); track $index) {
      @let versionStatus = containerMetadata ? getVersionStatus(tag, containerMetadata) : undefined;
      <div class="tag"
           [class.recommended]="versionStatus === VersionStatus.RECOMMENDED"
           [class.bug-found]="versionStatus === VersionStatus.BUG_FOUND || versionStatus === VersionStatus.NOT_RECOMMENDED"
           [class.not-working]="versionStatus === VersionStatus.NOT_WORKING || versionStatus === VersionStatus.UNUSABLE">
        <div class="version">
          <h3>{{ tag.name }}</h3>
          @switch (versionStatus) {
            @case (VersionStatus.RECOMMENDED) {
              <p class="chip recommended">Recommended</p>
            }
            @case (VersionStatus.BUG_FOUND) {
              <p class="chip bug-found">Bug found</p>
            }
            @case (VersionStatus.NOT_WORKING) {
              <p class="chip not-working">Not working</p>
            }
            @case (VersionStatus.NO_LONGER_TESTED) {
              <p class="chip no-longer-tested">No longer tested</p>
            }
          }
        </div>
        <p class="last-pushed">Last pushed {{ tag.tag_last_pushed | date }}</p>
        <code class="command">
          {{ buildDockerPullCommand(container!, tag.name) }}
          <app-clipboard-button [text]="buildDockerPullCommand(container!, tag.name)" />
        </code>
        <div>
          <table>
            <thead>
            <tr>
              <th>Digest</th>
              <th>OS</th>
              <th>Architecture</th>
              <th>Size</th>
            </tr>
            </thead>
            <tbody>
              @for (image of tag.images; track $index) {
                <tr>
                  <td>{{ image.digest | slice: 7 : 19 }}</td>
                  <td>{{ image.os }}</td>
                  <td>{{ image.architecture }}</td>
                  <td>{{ image.size | bytesToSize }}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    }
  </div>
</ng-template>

<ng-template #testing let-containerMetadata="containerMetadata">
  @if (containerMetadata) {
    @if (containerMetadata.gui) {
      @if (containerMetadata.gui_command.length > 0) {
        <!-- If GUI and has command -->
        <ng-container *ngTemplateOutlet="testingGUI; context: { containerMetadata: containerMetadata }"></ng-container>
      } @else {
        <!-- If GUI and no command -->
        <ng-container *ngTemplateOutlet="testingMissingInstructions; context: { section: 'GUI' }"></ng-container>
      }
    }
    @if (containerMetadata.test_invocation_specific.length > 0 && containerMetadata.test_data_url.length > 0) {
      <!-- Has CLI command -->
      <ng-container *ngTemplateOutlet="testingCLI; context: { containerMetadata: containerMetadata }"></ng-container>
    } @else if (!containerMetadata.gui) {
      <!-- No GUI and no CLI command -->
      <ng-container *ngTemplateOutlet="testingMissingInstructions; context: { section: 'CLI' }"></ng-container>
    }
  }
</ng-template>

<ng-template #testingMissingInstructions let-section="section">
  <markdown
    class="markdown-body"
    ngPreserveWhitespaces>

    # {{ section }}

    This image does not provide testing instructions yet.

  </markdown>
</ng-template>

<ng-template #testingCLI let-containerMetadata="containerMetadata">
  <markdown
    clipboard
    [clipboardButtonComponent]="clipboardButton"
    class="markdown-body"
    ngPreserveWhitespaces>

    # CLI

    To test the image, you can use the test data available [here]({{ containerMetadata.test_data_url }}).

    The results obtained should be similar to the ones [here]({{ containerMetadata.test_results_url }}) provided.

    Below you can find several ways of testing the image, according to your level of expertise.

    ## 1. Using `docknrun`

    You can download the test data and run the Docker image using the [`docknrun` Docker image](http://bdip.i3s.up.pt/getting-started#run-commands).

    ## 2. Manual execution

    You can create a working directory at the desired location, and within the working directory two additional directories
    named `test/data` and `test/results`, download the test data using the link provided above, copy the file from the `Downloads`
    folder to the `test/data` folder, unzip the file (if needed), and then open the command line (Linux) or Ubuntu app (Windows WSL),
    and run the following command:

    ```sh
    {{ containerMetadata.invocation_general + ' ' + containerMetadata.test_invocation_specific
    | replace:buildDockerPullCommand(container!).replace('docker pull ', ""):buildDockerPullCommand(container!, containerMetadata?.recommended?.[0]?.version).replace('docker pull ', "") }}
    ```

    Where `/your/data/dir` points to the working directory where you have the test data.

    ## 3. Step by step execution

    You can open a command line or Ubuntu app (Windows WSL) and invoke the following commands one by one (lines that start with # are
    comments and therefore can be skipped as they have no effect). Note that `/your/data/dir` must be replaced by the path to the
    desired working directory.

    ```sh
    # Attributes the value of the path to the working directory to the working_dir variable.
    working_dir="/your/data/dir"
    # Creates the test/data and test/results directories at the specified location (working dir). The -p option makes sures that any parent folders are created if needed.
    mkdir -p $working_dir/test/data $working_dir/test/results
    # Changes the directory to the test/data directory within the working directory.
    cd $working_dir/test/data
    # Downloads the test data to the test/data directory
    wget "{{ containerMetadata.test_data_url }}"
    # to be executed only if the test data is zipped. It gets the name of the zipped file from the download link and unzips the file.
    downloaded_file=$(basename "{{ containerMetadata.test_data_url }}") && unzip "$downloaded_file"
    # Moves the current directory one level up
    cd ..
    # Runs the Docker image using the test data
    {{ containerMetadata.invocation_general + ' ' + containerMetadata.test_invocation_specific
    | replace:'/your/data/dir':'$(pwd)'
    | replace:buildDockerPullCommand(container!).replace('docker pull ', ""):buildDockerPullCommand(container!, containerMetadata?.recommended?.[0]?.version).replace('docker pull ', "") }}
    ```

    ## 4. Advanced execution

    If you want to run a quick test, you can simply copy the following set of commands and paste all of them at once in the command
    line or Ubuntu app (Windows WSL). The needed directory structure is created under `/tmp` with the name `test.&lt;random_word&gt;`:

    ```sh
    cd $(mktemp -d "/tmp/test.XXXXXXX")

    mkdir test/data test/results

    cd test/data
    wget "{{ containerMetadata.test_data_url }}"

    downloaded_file = $(basename "{{ containerMetadata.test_data_url }}")

    if file "$downloaded_file" | grep -q "Zip archive data"; then
    unzip "$downloaded_file"
    fi

    cd ..

    {{ containerMetadata.invocation_general + ' ' + containerMetadata.test_invocation_specific
    | replace:'/your/data/dir':'$(pwd)'
    | replace:buildDockerPullCommand(container!).replace('docker pull ', ""):buildDockerPullCommand(container!, containerMetadata?.recommended?.[0]?.version).replace('docker pull ', "") }}
    ```
  </markdown>
</ng-template>

<ng-template #testingGUI let-containerMetadata="containerMetadata">
  <markdown
    clipboard
    [clipboardButtonComponent]="clipboardButton"
    class="markdown-body"
    ngPreserveWhitespaces>

    # GUI

    To test the image, you can use the test data available [here]({{ containerMetadata.test_data_url }}).

    The results obtained should be similar to the ones [here]({{ containerMetadata.test_results_url }}) provided.

    You can run the following command to open the GUI (note that your current working directory will be available at `/data`):

    ```sh
    xhost + && docker run --rm -ti -e USERID=$UID -e USER=$USER -e DISPLAY=$DISPLAY -v /var/db:/var/db:Z -v /tmp/.X11-unix:/tmp/.X11-unix -v $HOME/.Xauthority:/home/developer/.Xauthority -v "$(pwd):/data" -v /var/run/docker.sock:/var/run/docker.sock -v /tmp:/tmp pegi3s/{{ containerMetadata.name }}:{{ containerMetadata.latest }} {{ containerMetadata.gui_command }}
    ```
  </markdown>
</ng-template>
