:host {
  --outer-border-radius-card: 16px;
  --outer-border-width-card: 2px;

  --card-border-color: rgb(255 255 255);
  --img-backdrop-tint: rgba(255, 255, 255, 0.85);
  --hr-gradient: linear-gradient(to right, #00000055, #ffffff44);
  --img-border-color: #ffffffaa;
  --contact-info-item-bg: rgba(255, 255, 255, 0.6);
}

:host-context(.dark) {
  --card-border-color: rgb(58, 58, 60);
  --img-backdrop-tint: rgba(43, 43, 43, 0.7);
  --hr-gradient: linear-gradient(to right, #ffffff55, #00000033);
  --img-border-color: rgba(255, 255, 255, 0.1);
  --contact-info-item-bg: rgba(10, 10, 10, 0.5);
}

.outer-container {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 32px 0;
  border: var(--outer-border-width-card) solid var(--card-border-color);
  border-radius: var(--outer-border-radius-card);
  background:
    linear-gradient(to right, var(--img-backdrop-tint) 0 100%),
    var(--url) center no-repeat;
  background-size: cover;
  height: 100%;
}

.inner-container {
  display: flex;
  flex-direction: column;
  @media (width > 576px) {
    flex-direction: row;
  }
  align-items: center;
  gap: 26px;
  backdrop-filter: blur(100px);
  border-radius: calc(var(--outer-border-radius-card) - var(--outer-border-width-card));
  padding: 14px 20px;
  height: 100%;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
  @media (width > 576px) {
    flex-direction: row;
    gap: 16px;
    margin-bottom: 0;
  }
  align-items: center;

  > p {
    font-weight: 600;
    font-size: 1.1875rem;
    line-height: 1.75rem;
    text-align: center;
    @media (width > 576px) {
      text-align: left;
    }
  }
}

.organizations {
  display: flex;
  gap: 8px;
}

.organization {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 8px;

  p {
    z-index: 1;
    box-shadow: rgb(from var(--bg-color) r g b / 0.3) 0 2px 8px -1px;
    border-radius: 16px;
    background-color: var(--bg-color);
    padding: 6px 10px;
    color: white;
    font-size: 0.75rem;
  }
}

.tooltip {
  display: block;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: var(--bg-color);
  padding: 6px 10px;
  pointer-events: none;
  color: white;
  font-size: 0.75rem;
  line-height: 1rem;
  white-space: nowrap;
}

.tooltip::before {
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 2px;
  background-color: var(--bg-color);
  width: 10px;
  height: 10px;
  content: "";
}

.organization:hover .tooltip {
  top: -35px;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

p {
  margin: 0;
}

hr {
  display: none;
  @media (width > 576px) {
    display: block;
  }
  border: none;
  background: var(--hr-gradient);
  height: 2px;
}

div > img {
  display: none;
  border: 4px solid var(--img-border-color);
  border-radius: 100%;
  width: 68px;
  height: 68px;
}

@media (min-width: 576px) {
  div > img {
    display: block;
  }
}

img ~ div {
  flex-grow: 1;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media (width > 576px) {
    justify-content: flex-start;
  }
  gap: 8px;
  --icon-size: 18px;

  a {
    box-shadow: rgba(0, 0, 0, 0.04) 0 5px 16px 0;
    border-radius: 100%;
    background-color: var(--contact-info-item-bg);
    padding: 8px;
    line-height: 0;

    .material-symbols-rounded {
      font-size: var(--icon-size);
    }

    img,
    svg {
      width: var(--icon-size);
      height: var(--icon-size);
    }
  }
}

/* Contact info with label */
a:has(> span:nth-child(2)) {
  display: flex;
  align-items: center;
  gap: 6px;
  @media (width > 576px) {
    padding: 0 12px;
  }
  border-radius: 24px;
  font-size: 0.8125rem;
  line-height: 1.125rem;

  span:nth-child(2) {
    display: none;
    @media (width > 576px) {
      display: block;
    }
  }
}
