<div
  class="outer-container"
  [style.--url]="'url(' + contributor().photo + ')'"
>
  <div class="inner-container">
    <img [src]="contributor().photo" alt="" />
    <div>
      <div class="name">
        <p>{{ contributor().name }}</p>
        <div class="organizations">
          @for (organization of contributor().organizations; track $index) {
            <div class="organization" [style.--bg-color]="organization.color">
              <span class="tooltip">{{ organization.fullName }}</span>
              <p>{{ organization.acronym }}</p>
            </div>
          }
        </div>
      </div>
      <hr />
      <div class="contact-info">
        @if (contributor().contactInfo.email) {
        <a [href]="'mailto:' + contributor().contactInfo.email">
          <svg-icon src="assets/icons/fluent-icons/ic_fluent_mail_16_filled.svg" />
          <span>{{ contributor().contactInfo.email }}</span>
        </a>
        }
        @if (contributor().contactInfo.orcid) {
        <a
          [href]="'https://orcid.org/' + contributor().contactInfo.orcid"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg-icon src="assets/icons/logos/ORCIDiD.svg" svgAriaLabel="orcid logo" />
        </a>
        }
        @if (contributor().contactInfo.github) {
        <a
          [href]="'https://github.com/' + contributor().contactInfo.github"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg-icon src="assets/icons/logos/github.svg" svgAriaLabel="github logo" />
        </a>
        }
      </div>
    </div>
  </div>
</div>
