<section class="getting-started">
  <app-stepper [(currentStep)]="currentStep" [steps]="steps" />
  <div #container></div>
</section>

<ng-template #installDocker>
  <div>
    <h2>Getting started</h2>
    <app-tabs (activeTab)="onTabSelectedGettingStarted($event)" [tabs]="[
        { id: OS.WINDOWS, label: OS.WINDOWS, icon: 'assets/icons/logos/Windows11.svg', active: gettingStartedOS === OS.WINDOWS },
        { id: OS.LINUX, label: OS.LINUX, icon: 'assets/icons/logos/linux.svg', active: gettingStartedOS === OS.LINUX }
      ]" />
    @if (gettingStartedOS === OS.WINDOWS) {
      <p class="lead">
        To install Docker in Windows, please follow these instructions before following the Linux installation instructions given above.
        Please note that during software installation, you may need to restart the Ubuntu console or the computer itself, before proceeding
        to the next step. Therefore, try these solutions first if you find any problems.
      </p>
      <ol class="steps">
        <li>
          <h3>Enable Virtualization Option</h3>
          <p>
            The following approach requires that the virtualization option is enabled in your BIOS, which is the case for most recent laptops.
            To enable this option, follow the instructions provided in this <a href="https://support.microsoft.com/en-us/windows/enable-virtualization-on-windows-11-pcs-c5578302-6e43-4b4b-a449-8ced115f58e1" target="_blank">guide</a>.
          </p>
        </li>
        <li>
          <h3>Install Windows Subsystem Linux</h3>
          <p>Open a PowerShell prompt as an Administrator and run the following command:</p>
          <pre><code>wsl -install</code></pre>
        </li>
        <li>
          <h3>Install Ubuntu using the Microsoft Store</h3>
          <p>
            To install Ubuntu you can use the following link: <a href="ms-windows-store://pdp?productid=9pdxgncfsczv&mode=mini">Ubuntu</a>
          </p>
          <p>
            As an alternative, press the Windows button, type “Microsoft Store” in the search bar, and run the application. In the “Microsoft Store”
            search bar, type Ubuntu, choose the distribution you want, and then click on the “Get” button. During the installation, you will be asked
            to give a name to the super user account, that could be different from the name of your Windows account, and set the respective password.
          </p>
          <p>
            Once the installation is completed, a new app, named "Ubuntu” will be available, that can be accessed by pressing the Windows button,
            typing “Ubuntu” in the search bar, and running the application. When this is done, a command line terminal appears.
          </p>
          <p>
            Now that you have Ubuntu installed, you can follow the Linux steps in the Ubuntu terminal. All your Windows directories will be mounted
            in the "/mnt" directory. For instance, if your project's directory is "C:/<wbr>Users/<wbr>&lt;windows_username&gt;/<wbr>Documents/<wbr>Project", inside Ubuntu
            it will be "/mnt/<wbr>c/<wbr>Users/<wbr>&lt;windows_username&gt;/<wbr>Documents/<wbr>Project". Try to not use whitespaces in the directories you mount into the Docker
            images (e.x. Project_example instead of Project example). Users are advised to work under "/mnt/<wbr>c/<wbr>Users/<wbr>&lt;windows_username&gt;/<wbr>Documents"
            or below.
          </p>
        </li>
      </ol>
    } @else {
      <p class="lead">To install Docker in Linux, please follow the steps below:</p>
      <ol class="steps">
        <li>
          <h3>Update Ubuntu repositories</h3>
          <p>In the Ubuntu terminal, run the following commands (you will be asked for the super user password):</p>
          <div class="codeblock">
            <pre><code>sudo apt-get update</code></pre>
            <pre><code>sudo apt-get upgrade</code></pre>
          </div>
        </li>

        <li>
          <h3>Install xorg (Required to run Docker images with graphical interface)</h3>
          <p>In the Ubuntu terminal, run the following command (you will be asked for the super user password):</p>
          <pre><code>sudo apt install -y xorg xinit</code></pre>
        </li>

        <li>
          <h3>Install Docker</h3>
          <p>Run the following commands one by one:</p>
          <div class="codeblock">
            <pre><code>sudo apt-get install ca-certificates curl</code></pre>
            <pre><code>sudo install -m 0755 -d /etc/apt/keyrings</code></pre>
            <pre><code>sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc</code></pre>
            <pre><code>sudo chmod a+r /etc/apt/keyrings/docker.asc</code></pre>
            <pre><code>echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null</code></pre>
            <pre><code>sudo apt-get update</code></pre>
            <pre><code>sudo apt-get install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin</code></pre>
          </div>
        </li>

        <li>
          <h3>Change Docker permissions</h3>
          <p>Run the following commands one by one so that the user does not need to use sudo to run Docker images:</p>
          <div class="codeblock">
            <pre><code>sudo groupadd docker</code></pre>
            <pre><code>sudo gpasswd -a $USER docker</code></pre>
          </div>
        </li>

        <li>
          <h3>Test the Docker installation</h3>
          <p>Run the following command:</p>
          <pre><code>docker run hello-world</code></pre>
        </li>

        <li>
          <h3>Step 6: Reboot</h3>
          <p>Reboot your computer. Docker Images with a graphical interface may not be displayed properly until you reboot your computer.</p>
          <div class="note">
            <strong>Note:</strong> To run Docker images with a graphical interface, you need to run the following command first:
            <pre><code>xhost +</code></pre>
          </div>
        </li>
      </ol>
      <p>You are now ready to run any <strong>pegi3s</strong> Docker image.</p>
    }
  </div>
</ng-template>

<ng-template #dockerManager>
  <div>
    <h2>Manage Docker Images</h2>
    <img [src]="'assets/images/getting-started/manage-docker-images/docker-manager-' + (isDarkTheme() ? 'dark' : 'light') + '.png'" alt="Docker Manager" id="docker-manager-img" />
    <p>After running several Docker images, you may lose track of the images available on a given computer. You may want to delete Docker images that you are not going to use again soon to save hard disk space or erase leftover Docker images that remain after an unexpected restart. All these operations can be managed using the <strong>pegi3s/docker-manager</strong> image, which provides a simple graphical interface for managing Docker images.</p>

    <div class="note">
      <strong>Note:</strong> It is not possible to erase Docker images that are being used in the computer where docker-manager is running, thus, if it is possible to delete an image, that means that the image is not being used.
    </div>

    <p>Since the application has a graphical interface, you must run the following command to allow Docker to access the X11 display:</p>

    <pre><code>xhost +</code></pre>

    <p>After running the command, execute the following Docker command to run the Docker Manager interface:</p>

    <pre><code>docker run --rm -ti -e USERID=$UID -e USER=$USER -e DISPLAY=$DISPLAY -v /var/db:/var/db:Z -v /tmp/.X11-unix:/tmp/.X11-unix -v $HOME/.Xauthority:/home/developer/.Xauthority -v /var/run/docker.sock:/var/run/docker.sock -v /tmp:/tmp pegi3s/docker-manager</code></pre>

    <p>This command will start the Docker Manager interface, allowing you to easily manage your Docker images. You can delete, view, or perform other operations on the images as needed.</p>
  </div>
</ng-template>

<ng-template #runCommandsGUI>
  <div class="markdown-body">
    <h2>Run commands using a GUI</h2>
    <p>docknrun is a Docker image that offers a graphical interface (GUI) that facilitates:</p>
    <ul>
      <li>The <strong>choice</strong> (through the "Select an Image" button; Figures 1 and 2).</li>
      <li>The <strong>management</strong> (through the "docker-manager" button that launches an instance of the docker-manager Docker image; Figure 1).</li>
      <li>The <strong>running</strong> of Docker images (Figure 3).</li>
    </ul>
    <p>In the main window, the "pegi3s" button also offers a convenient way to access the web page of the project (<a href="http://bdip.i3s.up.pt/">http://bdip.i3s.up.pt/</a>), and informative videos are displayed.</p>

    <h2>Main Window</h2>

    <p>The <strong>"Select an Image"</strong> button allows choosing the desired Docker image using the same ontology information that is implemented at <a href="http://bdip.i3s.up.pt/">http://bdip.i3s.up.pt/</a>. When this is done, buttons are made available to:</p>
    <ul>
      <li><strong>Open documentation</strong> for the software of choice ("Open documentation" button).</li>
      <li>Access information at <a href="http://bdip.i3s.up.pt/">http://bdip.i3s.up.pt/</a> for the selected Docker Image ("Open pegi3s" button).</li>
      <li>Open the corresponding <strong>GitHub page</strong> ("Open GitHub" button).</li>
      <li>Access <strong>Test Data</strong> for the selected image ("Test Data" button; test data is already available for most Docker images, and will be soon available for all of them).</li>
      <li>Access <strong>Test Data Results</strong> ("Test Data Results" button).</li>
    </ul>

    <p>By selecting the <strong>"Open Run Page"</strong> button, another window is displayed (Figure 3) where the user can make decisions on how to run the desired software.</p>

    <div class="figure-pair">
      <figure>
        <img src="assets/images/getting-started/run-commands-gui/image1.png" alt="docknrun main window">
        <figcaption>Figure 1. docknrun main window</figcaption>
      </figure>
      <figure>
        <img src="assets/images/getting-started/run-commands-gui/image2.png" alt="docknrun main window">
        <figcaption>Figure 2. docknrun main window showing the selection of the Docker image "clustalomega".</figcaption>
      </figure>
    </div>

    <h2>Run Docker Image Window</h2>
    <p>In the docknrun <strong>"Run Docker Image"</strong> window, the user can:</p>
    <ul>
      <li>Check the documentation for the selected image.</li>
      <li>Choose the image version (e.g., <code>clustalomega:1.2.4</code> in Figure 3; the Docker image version usually matches the software version).</li>
      <li>Select the <strong>input data</strong> (e.g., "Select a fasta file" button in Figure 3).</li>
      <li>Specify the <strong>output folder</strong> ("Push" button; the folder will be created if it does not exist).</li>
      <li>View <strong>Developer Notes</strong> (e.g., bug reports, Singularity/Podman compatibility, last testing date).</li>
      <li>Add <strong>User Notes</strong> (comments for future reference stored in the <code>Docker_notebook</code> folder in the working directory).</li>
    </ul>

    <h3>Working Directory Notes</h3>
    <p>If the user wants to change the working directory, they should copy the <code>Docker_notebook</code> folder to the new location. Otherwise, the user history (comments, saved executable, and latest invocation files) will be lost.</p>

    <h3>Additional Features</h3>
    <ul>
      <li><strong>Create executable file</strong>: Generates executable files.</li>
      <li><strong>Latest invocation</strong>: Loads the latest invocations of the selected image.</li>
      <li><strong>Test Data Invocation</strong>: Adapts the command in the "Run command" box to use test data (test data must be downloaded first).</li>
    </ul>

    <p>By selecting the <strong>"Run"</strong> button, a new window opens to display the operations underway and the time it took to complete the requested analysis (Figure 4). If the selected image does not need to be pulled, nothing may be shown in the "running" box.</p>

    <div class="figure-pair">
      <figure>
        <img [src]="'assets/images/getting-started/run-commands-gui/image3-' + (isDarkTheme() ? 'dark' : 'light') + '.png'" alt="docknrun Run Docker Image window">
        <figcaption>Figure 3. docknrun "Run Docker Image" window.</figcaption>
      </figure>
      <figure>
        <img src="assets/images/getting-started/run-commands-gui/image4.png" alt="docknrun Running Docker Image secondary window">
        <figcaption>Figure 4. docknrun "Run Docker Image" secondary window.</figcaption>
      </figure>
    </div>

    <markdown
      clipboard
      [clipboardButtonComponent]="clipboardButton"
      class="markdown-body"
      ngPreserveWhitespaces>

      ## Running docknrun Docker Image

      To run this Docker image, you must have a file named `config` in the working directory. This file declares the location of the files to be processed, such as:

      ```bash
      dir="/your/data/dir"
      ```

      Then, adapt and run the following command (you may need to invoke `xhost +` first):

      ```bash
      docker run --rm -ti \
      -e USERID=$UID \
      -e USER=$USER \
      -e DISPLAY=$DISPLAY \
      -v /var/db:/var/db:Z \
      -v /tmp/.X11-unix:/tmp/.X11-unix \
      -v $HOME/.Xauthority:/home/developer/.Xauthority \
      -v /var/run/docker.sock:/var/run/docker.sock \
      -v /tmp:/tmp \
      -v /your/data/dir:/data \
      pegi3s/docknrun
      ```

      Where `/your/data/dir` points to the directory containing the config file.

    </markdown>
  </div>
</ng-template>

<ng-template #commonIssues>
  <markdown
    clipboard
    [clipboardButtonComponent]="clipboardButton"
    class="markdown-body"
    [src]="commonIssuesUrl"
  />
</ng-template>

<ng-template #chooseSoftware>
  <div class="markdown-body">
    <h2>Choosing the right software</h2>
    <p>
      Many bioinformatics tasks can be performed using different software tools, each with their own advantages and disadvantages. This
      guide helps you choose the most appropriate tool for your specific needs by providing comparisons and relevant literature.
    </p>

    @for (section of softwareRecommendations(); track section.section_header) {
      <details>
        <summary><b>{{ section.section_header }}</b></summary>

        <div>
          <p>Ontology categories</p>
          <ul>
            @for (category of section.categories; track category.id) {
              <li>
                <a [routerLink]="['/search']" [queryParams]="{c: getIdHierarchy(category).join()}">{{ getNameHierarchy(category).join(' -> ') }}</a>
              </li>
            }
          </ul>
        </div>

        @if (section.also_relevant.length !== 0) {
          <div>
            <p>Also relevant</p>
            <ul>
              @for (relevantItem of section.also_relevant; track relevantItem) {
                <li>
                  <a [routerLink]="['/container', relevantItem | lowercase]">{{ relevantItem }}</a>
                </li>
              }
            </ul>
          </div>
        }

        <div>
          <p>Articles</p>
          <ul>
            @for (article of section.articles; track article.url) {
              <li>
                <a href="{{ article.url }}" target="_blank">{{ article.short_name }}</a>
              </li>
            }
          </ul>
        </div>
      </details>
    }

  </div>
</ng-template>
