<section class="getting-started">
    <div>
      <h2>Getting started</h2>
      <app-tabs (activeTab)="onTabSelectedGettingStarted($event)" [tabs]="[
        { id: OS.WINDOWS, label: OS.WINDOWS, icon: 'assets/icons/logos/Windows11.svg', active: gettingStartedOS === OS.WINDOWS },
        { id: OS.LINUX, label: OS.LINUX, icon: 'assets/icons/logos/linux.svg', active: gettingStartedOS === OS.LINUX }
      ]" />
      @if (gettingStartedOS === OS.WINDOWS) {
        <p class="lead">
          To install Docker in Windows, please follow these instructions before following the Linux installation instructions given above.
          Please note that during software installation, you may need to restart the Ubuntu console or the computer itself, before proceeding
          to the next step. Therefore, try these solutions first if you find any problems.
        </p>
        <ol class="steps">
          <li>
            <h3>Enable Virtualization Option</h3>
            <p>
              The following approach requires that the virtualization option is enabled in your BIOS, which is the case for most recent laptops.
              To enable this option, follow the instructions provided in this <a href="https://support.microsoft.com/en-us/windows/enable-virtualization-on-windows-11-pcs-c5578302-6e43-4b4b-a449-8ced115f58e1" target="_blank">guide</a>.
            </p>
          </li>
          <li>
            <h3>Install Windows Subsystem Linux</h3>
            <p>Open a PowerShell prompt as an Administrator and run the following command:</p>
            <pre><code>wsl -install</code></pre>
          </li>
          <li>
            <h3>Install Ubuntu using the Microsoft Store</h3>
            <p>
              To install Ubuntu you can use the following link: <a href="ms-windows-store://pdp?productid=9pdxgncfsczv&mode=mini">Ubuntu</a>
            </p>
            <p>
              As an alternative, press the Windows button, type “Microsoft Store” in the search bar, and run the application. In the “Microsoft Store”
              search bar, type Ubuntu, choose the distribution you want, and then click on the “Get” button. During the installation, you will be asked
              to give a name to the super user account, that could be different from the name of your Windows account, and set the respective password.
            </p>
            <p>
              Once the installation is completed, a new app, named "Ubuntu” will be available, that can be accessed by pressing the Windows button,
              typing “Ubuntu” in the search bar, and running the application. When this is done, a command line terminal appears.
            </p>
            <p>
              Now that you have Ubuntu installed, you can follow the Linux steps in the Ubuntu terminal. All your Windows directories will be mounted
              in the "/mnt" directory. For instance, if your project's directory is "C:/<wbr>Users/<wbr>&lt;windows_username&gt;/<wbr>Documents/<wbr>Project", inside Ubuntu
              it will be "/mnt/<wbr>c/<wbr>Users/<wbr>&lt;windows_username&gt;/<wbr>Documents/<wbr>Project". Try to not use whitespaces in the directories you mount into the Docker
              images (e.x. Project_example instead of Project example). Users are advised to work under "/mnt/<wbr>c/<wbr>Users/<wbr>&lt;windows_username&gt;/<wbr>Documents"
              or below.
            </p>
          </li>
        </ol>
      } @else {
        <p class="lead">To install Docker in Linux, please follow the steps below:</p>
        <ol class="steps">
          <li>
              <h3>Update Ubuntu repositories</h3>
              <p>In the Ubuntu terminal, run the following commands (you will be asked for the super user password):</p>
              <div class="codeblock">
                <pre><code>sudo apt-get update</code></pre>
                <pre><code>sudo apt-get upgrade</code></pre>
              </div>
          </li>
  
          <li>
              <h3>Install xorg (Required to run Docker images with graphical interface)</h3>
              <p>In the Ubuntu terminal, run the following command (you will be asked for the super user password):</p>
              <pre><code>sudo apt install -y xorg xinit</code></pre>
          </li>
  
          <li>
              <h3>Install Docker</h3>
              <p>Run the following commands one by one:</p>
              <div class="codeblock">
                <pre><code>sudo apt-get install ca-certificates curl</code></pre>
                <pre><code>sudo install -m 0755 -d /etc/apt/keyrings</code></pre>
                <pre><code>sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc</code></pre>
                <pre><code>sudo chmod a+r /etc/apt/keyrings/docker.asc</code></pre>
                <pre><code>echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null</code></pre>
                <pre><code>sudo apt-get update</code></pre>
                <pre><code>sudo apt-get install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin</code></pre>
              </div>
          </li>
  
          <li>
              <h3>Change Docker permissions</h3>
              <p>Run the following commands one by one so that the user does not need to use sudo to run Docker images:</p>
              <div class="codeblock">
                <pre><code>sudo groupadd docker</code></pre>
                <pre><code>sudo gpasswd -a $USER docker</code></pre>
              </div>
          </li>
  
          <li>
              <h3>Test the Docker installation</h3>
              <p>Run the following command:</p>
              <pre><code>docker run hello-world</code></pre>
          </li>
  
          <li>
              <h3>Step 6: Reboot</h3>
              <p>Reboot your computer. Docker Images with a graphical interface may not be displayed properly until you reboot your computer.</p>
              <div class="note">
                  <strong>Note:</strong> To run Docker images with a graphical interface, you need to run the following command first:
                  <pre><code>xhost +</code></pre>
              </div>
          </li>
        </ol>
        <p>You are now ready to run any <strong>pegi3s</strong> Docker image.</p>
      }
    </div>
</section>