section {
  margin-inline: auto;
  padding: calc(35px + var(--header-height)) var(--horizontal-main-margin) 35px;
  max-inline-size: 2048px;
}

app-stepper {
  margin-bottom: 24px;
}

/* Page title */
h2:first-child,
.markdown-body ::ng-deep h1 {
  margin-block: 0 24px;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;

  background: linear-gradient(45deg, #ed4e50 0%, #f06f00 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.markdown-body ::ng-deep h1 {
  padding-bottom: 0;
  border: none;
}

/* Links */
a {
  color: #0969da;
  font-weight: 600;
}

:host-context(.dark) a {
  color: rgb(97, 218, 251);
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.getting-started :is(app-tabs, .lead) {
  margin-bottom: 24px;
}

/* Guide's steps */
.steps {
  margin: 0;
  padding: 0;
  list-style: none;
}

.steps li {
  position: relative;
  counter-increment: step 1;
  padding-bottom: 2rem;
  padding-left: 2.75rem;
}

/* Step title */
.steps li h3 {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

/* Step number */
.steps li::before {
  display: flex;
  position: absolute;
  left: 0;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: 0 solid #e5e7eb;
  border-radius: 0.375rem;
  background-color: rgb(var(--slate-700));
  width: 1.75rem;
  height: 1.75rem;
  content: counter(step);
  color: white;
  font-weight: 700;
  font-size: 0.875rem;
}

/* Step line */
.steps li::after {
  position: absolute;
  top: calc(1.75rem + 10px);
  bottom: 10px;
  left: calc(1.75rem / 2);
  background: linear-gradient(to bottom, rgba(var(--slate-700)), transparent);
  width: 2px;
  content: "";
}

/* When enabling optimization, Angular Compiler does not prefix keyframes-name from the
   second animation onwards unless the spec order for the shorthand is used */
/* https://github.com/angular/angular/issues/49068 */
/* https://www.w3.org/TR/css-animations-1/#animation */
.steps li {
  transform: translateY(20px);
  opacity: 0;
  animation:
    400ms linear forwards revealOpacity,
    950ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards revealTransform;
  animation-delay: var(--delay);
}

.steps li:nth-child(1) {
  --delay: 70ms;
}

.steps li:nth-child(2) {
  --delay: 140ms;
}

.steps li:nth-child(3) {
  --delay: 210ms;
}

.steps li:nth-child(4) {
  --delay: 280ms;
}

.steps li:nth-child(5) {
  --delay: 350ms;
}

.steps li:nth-child(6) {
  --delay: 420ms;
}

:not(.codeblock) > pre,
.codeblock {
  outline: 1px solid rgb(var(--slate-200));
  border-radius: 12px;
  background-color: rgb(var(--slate-50));
  padding: 20px;
  overflow: auto;
  color: var(--color-fg-default);
  font-size: 1rem;
  line-height: 24px;
}

:host-context(.dark) :not(.codeblock) > pre,
:host-context(.dark) .codeblock {
  outline: 1px solid rgba(37, 41, 40, 0.5);
  background-color: hsla(0, 0%, 4%, 0.6);
}

.codeblock pre {
  margin: 0;
}

pre code {
  display: inline;
  margin: 0;
  padding: 0;
  max-width: auto;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  border: 0;
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: "JetBrains Mono", monospace;
}

.note {
  margin: 10px 0;
  border-left: 5px solid #f2cc60;
  border-radius: 6px;
  background: #fff8c5e6;
  padding: 15px;
  overflow: auto;

  pre {
    margin-bottom: 0;
  }
}

:host-context(.dark) .note {
  border-left: 5px solid #d29922;
  background: #9a670060;
}

#docker-manager-img {
  float: right;
  margin-left: 48px;
  max-width: min(50%, 752px);
  max-height: 310px;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));

  @media (width < 1280px) {
    float: none;
    margin: 36px auto;
    max-width: 100%;
    max-height: initial;
    display: block;
  }
}

:host ::ng-deep .figure-pair {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  margin-block: 40px;
}

@media (width < 1280px) {
  :host ::ng-deep .figure-pair {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}

:host ::ng-deep .figure-pair figure {
  margin: 0;
}

:host ::ng-deep .figure-pair img {
  background-color: transparent;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.09)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.08));
}

:host ::ng-deep .figure-pair figcaption {
  margin-top: 8px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@keyframes revealOpacity {
  to {
    opacity: 1;
  }
}

@keyframes revealTransform {
  to {
    transform: translateY(0px);
  }
}
