/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;

  /* Blink: "position: fixed" does not respect "scrollbar-gutter: stable" */
  /* https://issues.chromium.org/issues/40792788 */
  /* scrollbar-gutter: stable; */
  --horizontal-main-margin: 36px;
  @media (min-width: 640px) {
    --horizontal-main-margin: 72px;
  }
}

:root {
  --slate-50: 248, 250, 252;
  --slate-100: 241, 245, 249;
  --slate-200: 226, 232, 240;
  --slate-300: 203, 213, 225;
  --slate-400: 148, 163, 184;
  --slate-500: 100, 116, 139;
  --slate-600: 71, 85, 105;
  --slate-700: 51, 65, 85;
  --slate-800: 30, 41, 59;
  --slate-900: 15, 23, 42;
  --slate-950: 2, 6, 23;
  /*#42a7f0*/
  --picton-blue-50: 241, 248, 254;
  --picton-blue-100: 225, 239, 253;
  --picton-blue-200: 189, 222, 250;
  --picton-blue-300: 130, 196, 247;
  --picton-blue-400: 66, 167, 240;
  --picton-blue-500: 23, 138, 224;
  --picton-blue-600: 10, 109, 191;
  --picton-blue-700: 10, 87, 154;
  --picton-blue-800: 12, 74, 128;
  --picton-blue-900: 16, 63, 106;
  --picton-blue-950: 11, 39, 70;
}

[data-theme="light"] {
  color-scheme: light;
  /* --main-bg-color: rgb(246, 246, 246); */
  --color-surface-container-lowest: 252, 252, 252;
  --color-surface-container: 255, 255, 255;
  --color-surface-container-high: 255, 255, 255;

  --main-font-color: 0, 0, 0;
}

[data-theme="dark"] {
  color-scheme: dark;
  /* --main-bg-color: rgb(11 15 18); */
  --color-surface-container-lowest: 11, 13, 20;
  --color-surface-container: 28, 34, 46;
  --color-surface-container-high: 36, 44, 54;

  --main-font-color: 255, 255, 255;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(var(--color-surface-container-lowest));
  color: rgb(var(--main-font-color));
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  text-wrap: pretty;
}

.material-symbols-rounded {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  user-select: none;
}
